<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>printbin</title>
</head>
<body>
  <h1>printbin</h1>
  <p>
    What is this? See <a href="https://github.com/watson/printbin">github.com/watson/printbin</a> for details.
  </p>
  <p>
    For best results view this page in Safari :)
  </p>
  <p>
    All print jobs are deleted after 7 days!
  </p>

  <h2>Jobs</h2>
  <p>
    <ul>
      {{#each docs}}
        <li><a href="https://s3.amazonaws.com/watson-printbin/{{this.key}}">{{this.name}}</a></li>
      {{/each}}
    </ul>
  </p>
</body>
</html>
